/** @format */

/******** placering header desktop ********/
/* logo */
.logo {
  display: flex;
  justify-content: center;
  padding: 30px;
}

/* menu */
.main-menu ul {
  /* 2. Få menu elementerne til at stå ved siden af hinanden */
  display: flex;
  justify-content: center;
  gap: 100px;
}

/* skjul burgermenu */
.toggle-btn {
  background: transparent;
  cursor: pointer;

  display: none; /* Skjul knappen som standard */
}

/******** placering burgermenu mobile ********/
@media (max-width: 700px) {
  .header {
    /* få header til at stå ved siden af hinanden */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 10px;
    margin-left: 10px;
  }

  .toggle-btn {
    display: block; /* Vis knappen, når viewporten maksimalt er 600px */
  }

  .main-menu {
    display: contents; /* Fjern ".main-menu"-boksen fra ligningen, når viewporten maksimalt er 600px, men behold børnene, så disse deltager i flex-kontekten */
  }

  .main-menu ul {
    display: none; /* Fjern menu-listen som standard */
  }

  .main-menu.shown ul {
    /* Vis menu-listen, når klassen ".shown" er til stede */
    border-top: 1px solid #707070;
    padding-top: 1rem;
    display: flex;
    flex: 1 1 100%;
    flex-flow: column;
    gap: 2px;
  }
}

/******** placering footer ********/
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 8px;
}

.footer {
  display: flex;
  place-content: space-between;
}

/******** placering baggrundsbilleder mobile ********/
.forside {
  background-image: url(billeder/baggrund_forside.webp);
  height: 100vh;
  background-position: 50% 147%;
  background-size: cover;
}

.cv {
  background-image: url(billeder/baggrund_cv.webp);
  height: 110vh;
  background-position: 3% 147%;
  background-size: cover;
}

.forside_portfolio {
  background-image: url(billeder/baggrund_portfolio_forside.webp);
  height: 100vh;
  background-position: 10% 147%;
  background-size: cover;
}

.portfolio {
  background-image: url(billeder/baggrund_portfolio.webp);
  height: 90vh;
  background-position: 3% 147%;
  background-size: cover;
}

/******** placering baggrundsbilleder desktop ********/
@media (min-width: 1170px) {
  .forside {
    height: 110vh;
  }

  .forside_portfolio {
    height: 110vh;
  }

  .portfolio {
    height: 110vh;
  }
}

/******** placering om mig mobile ********/
.cv_1 {
  margin: 20px;
  padding-bottom: 50px;
}

.portraet_tekst {
  padding-top: 10px;
  margin-bottom: 50px;
}

/******** placering om mig desktop ********/
@media (min-width: 700px) {
  .grid {
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 0.5fr; /*størrelsen på hver kolonne*/
    gap: 5px;
    padding-top: 20px;
    margin-bottom: 50px;
  }

  .portraet_tekst {
    order: -1;
    grid-column-start: 2; /* start på kolonne 2 */
    grid-column-end: 3; /* slut på kolonne 3 */
  }

  .portraet_billede {
    width: 300px;
    grid-column-start: 3; /*start på kolonne 3*/
    grid-column-end: 4; /* slut på kolonne 4 */
    padding-top: 50px;
  }
}

@media (min-width: 1000px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr; /* størrelsen på hver kolonne */
    gap: 10px;
    margin-bottom: 50px;
  }

  .portraet_tekst {
    order: -1;
    grid-column-start: 2; /* start på kolonne 2 */
    grid-column-end: 3; /* slut på kolonne 3 */
    width: 60ch; /* max 60 characters pr linje */
  }

  .portraet_billede {
    width: 350px;
    grid-column-start: 3; /* start på kolonne 3 */
    grid-column-end: 4; /* slut på kolonne 4 */
  }
}

/******** placering cv mobile med flex ********/
.cv_1 h1 {
  display: flex;
  justify-content: center;
}

.cv_tekst p {
  padding-bottom: 25px;
}

/******** placering cv desktop med grid ********/
@media (min-width: 700px) {
  .cv_tekst {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr; /* størrelsen på hver kolonne */
  }

  .cv_tekst p {
    padding-bottom: 25px;
    max-width: 70ch; /* max 70 characters pr linje */
    grid-column-start: 2; /* start på kolonne 2 */
  }

  .cv_tekst h1,
  h2 {
    padding-bottom: 25px;
    grid-column-start: 2; /* start på kolonne 2 */
  }
}
