/** @format */

* {
  all: unset;
  display: revert;
  cursor: revert;
  box-sizing: border-box;
}

/********************************* CSS variabler ***************************************/
HTML {
  --pinkknap: #f5a5f8;
  --shadow: #fefe91;
  --activeknapbg: #ff4d00;
  --font: "Open Sans", sans-serif;
}

/********** STYLING IMG **********/
img {
  width: 100%;
  height: auto;
}

/********** STYLING baggrund **********/

body {
  background-color: #aad9ff;
}

/**************************************** HEADER ***********************************************/
/********** STYLING HEADER **********/
ul {
  /* burgermenu liste*/
  list-style: none;
  color: #707070;
  font-size: 1.7rem;
  font-family: var(--font);
}

.logo {
  /*logo portfolio*/
  font-family: "Petit Formal Script", cursive;
  color: #707070;
  font-size: 3rem;
}

/******** placering header desktop ********/
/*** logo ***/
.logo {
  display: flex;
  justify-content: center;
  padding: 30px;
}

/*** menu liste ***/
.main-menu ul {
  /* 2. Få menu elementerne til at stå ved siden af hinanden */
  display: flex;
  justify-content: center;
  gap: 100px;
}

/* skjul burgermenu når den er desktop format */
.toggle-btn {
  background: transparent;
  cursor: pointer;

  display: none; /* Skjul knappen som standard */
  padding-top: 20px;
  padding-right: 20px;
}

/******** placering burgermenu mobile ********/
@media (max-width: 700px) {
  .header {
    /* få header til at stå ved siden af hinanden */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 10px;
    margin-left: 10px;
  }

  .toggle-btn {
    display: block; /* Vis knappen, når viewporten maksimalt er 700px */
  }

  .main-menu {
    display: contents; /* Fjern ".main-menu"-boksen fra ligningen, når viewporten maksimalt er 700px, men behold børnene, så disse deltager i flex-kontekten */
  }

  .main-menu ul {
    display: none; /* Fjern menu-listen som standard */
  }

  .main-menu.shown ul {
    /* Vis menu-listen, når klassen ".shown" i js er til stede */
    border-top: 1px solid #707070;
    padding: 1rem;
    display: flex;
    flex: 1 1 100%;
    flex-flow: column;
    gap: 1rem;
  }
}

/**************************************** FOOTER ***********************************************/
/********** STYLING FOOTER **********/
footer {
  font-size: 1.7rem;
  color: #707070;
  background-color: #aad9ff;
}

/******** placering footer ********/
footer {
  position: fixed; /*klister footer til bunden*/
  bottom: 0;
  width: 100%;
  padding: 10px;
}

.footer {
  /* få footer til at ligge sig i hver sin ende*/
  display: flex;
  place-content: space-between;
}

/**************************************** BAGGRUNDSBILLEDER ***********************************************/

/******** placering baggrundsbilleder mobile ********/
.forside {
  background-image: url(billeder/baggrund_forside.webp);
  /*placer baggrundens højde, så figurerne ligger sig i midten*/
  height: 100vh;
  /*giv baggrund en position, så figurerne er i midten*/
  background-position: 50% 147%;
  background-size: cover;
}

.cv {
  background-image: url(billeder/baggrund_cv.webp);
  height: 110vh;
  background-position: 3% 147%;
  background-size: cover;
}

.forside_portfolio {
  background-image: url(billeder/baggrund_portfolio_forside.webp);
  height: 100vh;
  background-position: 10% 147%;
  background-size: cover;
}

.portfolio {
  background-image: url(billeder/baggrund_portfolio.webp);
  height: 100vh;
  background-size: cover;
}

.eksamen {
  background-image: url(billeder/baggrund_eksamen.webp);
  height: 110vh;
  background-size: cover;
}

/******** placering baggrundsbilleder desktop ********/
@media (min-width: 1170px) {
  .forside {
    height: 100vh;
    background-position: 50% 9%;
  }

  .forside_portfolio {
    height: 110vh;
  }

  .portfolio {
    height: 110vh;
  }
  .eksamen {
    height: 110vh;
  }
}

/**************************************** CV/OM MIG ***********************************************/
/********** STYLING **********/
.cv_1 {
  font-family: var(--font);
  line-height: 25px;
}

.portraet_tekst ul {
  /*fjern listens styling*/
  list-style: none;
  color: black;
  font-size: 0.9rem;
  padding-top: 10px;
}

.portraet_tekst {
  font-size: 0.9rem;
}

.cv_1 h1 {
  padding-bottom: 15px;
  font-weight: bolder;
  font-size: 1.5rem;
}

.cv_1 h2 {
  padding-bottom: 5px;
  font-weight: bolder;
  font-size: 1.1rem;
}

.cv_tekst p {
  font-size: 0.9rem;
}

.link {
  font-family: var(--font);
  color: var(--activeknapbg);
  padding-top: 20px;
}

.link:hover {
  transform: translateY(-5px) translateX(3px);
}

/******** placering om mig mobile ********/
.cv_1 {
  margin: 30px;
  padding-bottom: 50px;
}

.cv_1 h2 {
  max-width: 60ch; /*max 60ch pr linje*/
}

.portraet_tekst {
  padding-top: 10px;
  max-width: 70ch; /*max 70ch pr linje*/
  min-width: 40ch; /*max 40ch pr linje*/
  margin-bottom: 80px;
}

/* gå til cv link */
.link {
  /*start med at fjerne link til cv i mobil*/
  display: none;
}

/******** placering om mig desktop ********/
@media (min-width: 700px) {
  .grid {
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 0.5fr; /*størrelsen på hver kolonne*/
    gap: 5px; /*mellemrum mellem content og billede*/
    padding-top: 40px;
    margin-bottom: 50px;
  }

  .portraet_tekst {
    order: -1; /*sæt teksten i venstre side, når viewport er over 700px*/
    grid-column-start: 2; /* start på kolonne 2 */
    grid-column-end: 3; /* slut på kolonne 3 */
  }

  .portraet_billede {
    min-width: 300px;
    grid-column-start: 3; /*start på kolonne 3*/
    grid-column-end: 4; /* slut på kolonne 4 */
    padding-top: 50px;
  }

  /*vis link til cv når den er i desktop*/
  .link {
    display: block;
  }
}

@media (min-width: 1000px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr; /* størrelsen på hver kolonne */
    gap: 10px;
  }

  .portraet_tekst {
    /* grid-column-start: 2; start på kolonne 2 */
    /* grid-column-end: 3; slut på kolonne 3 */
    max-width: 70ch;
    min-width: 40ch;
  }

  .portraet_billede {
    width: 350px; /*størrelse på portræt billede når viewport er 1000px og over*/
    /* grid-column-start: 3; /* start på kolonne 3 */
    /* grid-column-end: 4; slut på kolonne 4 */
  }
}

/******** placering cv mobile ********/
.cv_tekst p {
  padding-bottom: 25px;
  max-width: 60ch;
  min-width: 40ch;
}

/******** placering cv desktop med grid ********/
@media (min-width: 700px) {
  .cv_tekst {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr; /* størrelsen på hver kolonne */
  }

  .cv_tekst p {
    padding-bottom: 25px;
    max-width: 70ch;
    min-width: 50ch;
    grid-column-start: 2; /* start på kolonne 2 */
  }

  .cv_tekst h1,
  h2 {
    padding-bottom: 25px;
    grid-column-start: 2; /* start på kolonne 2 */
  }
}

/**************************************** KNAPPER ***********************************************/
/************ styling af knapper**************/
.knap {
  width: 450px; /*bredde på knappen*/
  height: 65px; /*højde på knappen*/
  cursor: pointer; /*når musen er over knappen*/
  border: solid 1px var(--pinkknap);
  background-color: var(--pinkknap);

  text-align: center; /*placer teksten i midten af knappen*/
  font-family: var(--font);
  font-size: 1rem;
  padding: 20px;
}
.knap:hover {
  /*skygge når man holder musen henover knappen*/
  box-shadow: 0 2px 10px 0 var(--shadow);
}
.knap:active {
  /*baggrundsfarve og skygge når man klikker på knappen*/
  background-color: var(--activeknapbg);
  box-shadow: 0 2px 10px 0 var(--shadow);
  /*boksen bevæger sig ned, som om man trykker ind*/
  transform: translateY(3px);
}

.web_btn,
.ux_btn,
.animation_btn,
.indhold_btn,
.eksamen_btn {
  /*maximal størrelse på knappen, den ændrer sig når man er i desktop*/
  max-width: 749px;
  height: 65px;
  cursor: pointer;
  background-color: var(--pinkknap);

  text-align: center;
  font-family: var(--font);
  font-size: 0.9rem;
  padding-top: 10px;
}

.indhold_btn {
  margin-bottom: 10px;
}

.web_btn:hover {
  box-shadow: 0 2px 10px 0 var(--shadow);
}
.web_btn:active {
  background-color: var(--activeknapbg);
  box-shadow: 0 2px 10px 0 var(--shadow);
  transform: translateY(3px);
}

.ux_btn:hover {
  box-shadow: 0 2px 10px 0 var(--shadow);
}

.ux_btn:active {
  background-color: var(--activeknapbg);
  box-shadow: 0 2px 10px 0 var(--shadow);
  transform: translateY(3px);
}

.animation_btn:hover {
  box-shadow: 0 2px 10px 0 var(--shadow);
}

.animation_btn:active {
  background-color: var(--activeknapbg);
  box-shadow: 0 2px 10px 0 var(--shadow);
  transform: translateY(3px);
}

.indhold_btn:hover {
  box-shadow: 0 2px 10px 0 var(--shadow);
}

.indhold_btn:active {
  background-color: var(--activeknapbg);
  box-shadow: 0 2px 10px 0 var(--shadow);
  transform: translateY(3px);
}

.eksamen_btn:hover {
  box-shadow: 0 2px 10px 0 var(--shadow);
}

.eksamen_btn:active {
  background-color: var(--activeknapbg);
  box-shadow: 0 2px 10px 0 var(--shadow);
  transform: translateY(3px);
}

/**************************************** PORTFOLIE ***********************************************/
/************** styling af portfolio **************/
.main_portfolie {
  font-family: var(--font);
  /*mellemrummet mellem linjerne*/
  line-height: 25px;
}

.main_portfolie h1 {
  font-size: 1.3rem;
  /*tykkelse på skriften*/
  font-weight: bolder;
}
.main_portfolie p {
  font-size: 0.9rem;
  padding-bottom: 10px;
}

.portfolio_overskrift {
  font-family: var(--font);
  font-size: 1.5rem;
  border-top: solid #85abca 1px;
  margin: 20px;
}

.text p {
  padding-bottom: 0;
}

/******** placering af portfolio forside mobile ********/

.knap_portfolio {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.portfolio_overskrift {
  display: flex;
  /*placer i midten med space rundt om*/
  justify-content: space-around;
  margin-top: 60px;
  padding-top: 20px;
}

.temaer {
  /*2 kolonner i dekstop*/
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin: 20px;
  padding-bottom: 50px;
}

figure {
  border: solid 1px #85abca; /*border på billederne*/
  padding-bottom: 5px;
  background-color: white;
}
figcaption {
  padding-left: 5px;
}

/******** placering af portfolio forside desktop ********/
@media (min-width: 700px) {
  /*maximal størrelse på billeder når viewport er 700px og over*/
  .temaer img {
    max-width: 550px;
  }
  .temaer {
    display: grid;
    /* 4 kolonner*/
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

/* ******* placering af portfolio mobile ******* */
.web,
.ux,
.animation,
.indhold {
  display: grid;
  grid-template-columns: 0.5fr 2fr 0.5fr;
  margin: 10px;
}

.web_content,
.ux_content,
.animation_content,
.indhold_content {
  /*placer indhold i midterste kolonne*/
  grid-column-start: 2;
  grid-column-end: 3;
  max-width: 60ch;
  min-width: 38ch;
  padding-top: 50px;
}

.web_content h1,
.ux_content h1,
.animation_content h1,
.indhold_content h1 {
  padding-bottom: 10px;
}

.web_btn,
.animation_btn,
.ux_btn,
.indhold_btn {
  /*placer knap i midterste kolonne*/
  grid-column-start: 2;
  grid-column-end: 3;
  margin-bottom: 20px;
}

.web_billeder,
.ux_billeder,
.animation_billeder,
.indhold_billeder {
  grid-column-start: 2;
  grid-column-end: 3;
  /*maximal størrelse på billederne*/
  max-width: 550px;
}

.indhold_billeder {
  margin-bottom: 50px;
}

/* ******* placering af portfolio desktop ******* */

@media (min-width: 1025px) {
  /*nulstil grid*/
  .web,
  .ux,
  .animation,
  .indhold {
    display: revert;
  }

  .main_portfolie {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /*to rækker, så de to sidste temaer, lægger sig på samme række*/
    grid-template-rows: 1fr 1fr;
    margin-left: 80px;
    margin-right: 50px;
    gap: 40px;
  }

  .web_btn,
  .animation_btn,
  .ux_btn,
  .indhold_btn {
    padding-bottom: 20px;
    margin-bottom: 10px;
  }

  .main_portfolie p {
    max-width: 70ch;
    min-width: 50ch;
  }

  .animation_content,
  .indhold_content {
    /*nulstil padding-top*/
    padding-top: revert;
  }

  .indhold_billeder {
    margin-bottom: 50px;
  }
}

/**************************** EKSAMEN ********************************/
/****** styling eksamen ********/
.eksamen_content {
  max-width: 60ch;
  min-width: 40ch;
}

.eksamen_portfolio {
  font-family: var(--font);
  /*mellemrummet mellem linjerne*/
  line-height: 25px;
}

.eksamen_portfolio h1 {
  font-size: 1.3rem;
  /*tykkelse på skriften*/
  font-weight: bolder;
}
.eksamen_portfolio p {
  font-size: 0.9rem;
  padding-bottom: 10px;
}

.text p {
  padding-bottom: 0;
}

/******** placering af eksamen mobile ********/
.eksamen_btn {
  padding-bottom: 20px;
  margin-bottom: 10px;
}

.eksamen_portfolio {
  display: grid;
  grid-template-columns: 0.5fr 2fr 0.5fr;
  margin: 10px;
}

.eksamen_content {
  /*placer indhold i midterste kolonne*/
  grid-column-start: 2;
  grid-column-end: 3;
  max-width: 60ch;
  min-width: 40ch;
  padding-top: 50px;
}

.eksamen_content h1 {
  padding-bottom: 10px;
}

.eksamen_btn {
  /*placer knap i midterste kolonne*/
  grid-column-start: 2;
  grid-column-end: 3;
  margin-bottom: 20px;
}

.eksamen_billeder {
  grid-column-start: 2;
  grid-column-end: 3;
  /*maximal størrelse på billederne*/
  max-width: 550px;
}

.eksamen_billeder {
  margin-bottom: 50px;
}

/******** placering af eksamen desktop ********/
@media (min-width: 1025px) {
  /*nulstil grid*/

  .eksamen_portfolio {
    display: revert;
  }

  .eksamen_portfolio {
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 0.5fr;
    gap: 30px;
    margin-bottom: 60px;
  }

  .eksamen_content {
    grid-column-start: 2;
    grid-column-end: 3;
  }

  .eksamen_billeder {
    grid-column-start: 3;
    grid-column-end: 4;
    padding-top: 92px;
    min-width: 500px;
  }

  .eksamen_btn {
    padding-bottom: 20px;
    margin-bottom: 10px;
  }

  .eksamen_portfolie p {
    max-width: 65ch;
    min-width: 50ch;
  }
}
