/** @format */
* {
  all: unset;
  display: revert;
  cursor: revert;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
}

body {
  background-color: #aad9ff;
}

ul {
  list-style: none;
  color: #707070;
  font-size: 1.7rem;
  font-family: open sans;
}

.logo {
  font-family: petit formal script;
  color: #707070;
  font-size: 3rem;
}

footer {
  font-size: 1.7rem;
  color: #707070;
}
